.wrapper {
  width: 100%;
  max-width: 80px;
  height: 11.875rem;
  background-color: #20293a;
  padding: 1rem 0.5rem;
  border-radius: 1.0625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

.line {
  margin-bottom: 1rem;
  display: block;
  width: 4rem;
  height: 0.0625rem;
  background-color: #030616;
}

.condition {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.text {
  font-size: 0.75rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.temperature {
  font-size: 1.5rem;
  margin-top: 1.375rem;
  height: 1.875rem;
}
