.title {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  text-align: left;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.wrapper {
  width: 46.875rem;
  min-width: 10rem;
}
