.wrapper {
  width: 54rem;
  height: 3.75rem;
  border-radius: 1.25rem;
  padding: 0.75rem 1.25rem;
  background-color: #20293a;
  display: flex;
}

.conditionWrapper {
  display: flex;
  width: 16.875rem;
  justify-content: space-between;
  align-items: center;
}

.day {
  font-size: 1.25rem;
  margin-right: 3.75rem;
}

.condition {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-right: 3.75rem;
}

.description {
  font-size: 0.75rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.temperatureWrapper {
  width: 31.25rem;
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}

.thermometerWrapper {
  position: relative;
  width: 100%;
  max-width: 22.5rem;
  height: 0.375rem;
  background: #030616;
  border-radius: 1rem;
  overflow: hidden;
}

.thermometerBar {
  position: absolute;
  height: 100%;
  background: #4e80ee;
  border-radius: 1rem;
}

@media (max-width: 1280px) and (min-width: 640px) {
  .wrapper {
    width: 100%;
  }
}
