.wrapper {
  width: 21.25rem;
  max-width: 100%;
}
.title {
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 1.25rem;
}
.cities {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 824px) and (min-width: 400px) {
  .wrapper {
    width: 100%;
  }
}
