.wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 755px;
  width: 100%;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 824px) and (min-width: 400px) {
  .wrapper {
    justify-content: center;
  }
}
