.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 21.25rem;
  max-width: 100%;
  height: 11.6875rem;
  background-color: #20293a;
  border-radius: 1.25rem;
  gap: 0.5rem;
  padding: 1.5rem 1.25rem;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  height: 8.75rem;
}

.left {
  align-items: flex-start;
}

.right {
  align-items: flex-end;
}

.temperature {
  font-size: 4rem;
  line-height: 3rem;
}

.condition {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.main {
  font-size: 0.75rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.feelsLike,
.range {
  font-size: 0.875rem;
}

.city {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 0.5625rem;
}

.time {
  font-size: 0.875rem;
}

.wind {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  height: 2.5rem;
}

.windImg {
  width: 1.25rem;
  height: 1.25rem;
}

@media (max-width: 824px) and (min-width: 400px) {
  .wrapper {
    width: 100%;
  }
}
