*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  line-height: 1rem;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #030616;
  background-image: url('./assets/earth.png');
  background-size: cover;
  background-position: start;
  background-attachment: fixed;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input:focus {
  outline: none;
}

input:focus {
  outline: none;
  border: none;
}
